body{
    margin: 0;
    --jug-color: red;
}


@media screen and (max-width: 50em){
    main{
        height: 100vh;
        display: grid;
        grid-template-rows: 1fr 2fr 4fr 1fr;
        grid-template-areas: 
        "header"
        "nav"
        "article"
        "footer";
       }
}

@media screen and (min-width: 50em){

    main{
        height: 100vh;
        display: grid;
        grid-template-rows: 2fr 4fr 1fr;
        grid-template-columns: 1fr 4fr;
        grid-template-areas: 
        "header header"
        "nav article"
        "footer footer";
       }  
}
header{
    grid-area: header;
    background-color: aquamarine;
}
footer{
    grid-area: footer;
    background-color:var(--jug-color,green);
}

nav{
    grid-area: nav;
    background-color: cornflowerblue;
}
article{
    grid-area: article;
    background-color:var(--jug-color,green);
}

j-message{
    font-size: 5em;
}
